.button_container {
  position: absolute;
  left: 0;
  right: 0;
 /*  top: 50%; */
}

.btn {
  border: none;
  display: block; 
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #bae5e1;
  /* padding: 17px 60px; */
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}
.friendList{
	height: 250px;		
	overflow-y : scroll;
	padding-left: 30px;
	background-color : #eee6;
	font-family: Poppins-Regular;
    font-size: 14px;
    cursor: pointer;
     margin-top: -15px;
}
.groupList{
	height: 250px;	
	overflow-y : scroll;
	padding-left: 30px;
	/* overflow-y:hidden; */
	background-color : #eee6;
	font-family: Poppins-Regular;
    font-size: 14px;
    cursor: pointer;
    margin-top: 70px;
}
.img1{
	width: 50px;
	height: 50px;
}
/* 포인터로 마우스 모양 바꿔주는곳 */
.friendclick{
	cursor:pointer;
}
/* 팝업창 꾸미는 곳 */
.popuplayer{
	position:absoulute;
	display:none;
	background-color:#e0e0e0;
	border:solid 2px #d0d0d0.;
	width:120px;
	height:50px;
	padding:10px;
	
}
.main {
	min-width: 200px;
	max-width: 200px;
	padding: 10px;
	margin: 0 auto;
	background: #ffffff;
}

section {
	display: none;
	padding: 20px 0 0;
	font-size: 14px;
	border-top: 1px solid #ddd;
}

/*라디오버튼 숨김*/
.input1 {
	display: none;
}

label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 5px 10px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
	font-size: 15px;
}

label:hover {
	color: #2e9cdf;
	cursor: pointer;
}

/*input 클릭시, label 스타일*/
.input1:checked+label {
	color: #555;
	border: 1px solid #ddd;
	border-top: 2px solid #2e9cdf;
	border-bottom: 1px solid #ffffff;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2 , #tab3:checked ~ #content {
	display: block;
}

.search {
	width: 120px;
	display: block;
	position: absolute;
}

.bt {
	position: absolute;
	right: 40px;
}

.tb1 {
	padding-top: 20px;
}

html, body, main, .container-fluid {
	height: 100%;
	width: 100%;
}

.container-fluid {
	padding: 0;
}

.view_wrapper {
	margin: 0;
	padding-left: 250px !important;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.album_wrapper {
	width: 100%;
}

.album_wrapper, .top_bar, .under_bar, .album {
	margin: auto;
	display: block;
}

.checkbox {
	font-size: 20px;
}

.page {
	background-color: #eee;
}

.outer {
	background-color: #aaa;
}
