.img_thumbnail {
	width: 100%;
	height: 100%;
	opacity: 1;
}

.div_card:hover {
	cursor: pointer;
}

.card_album_name{
	font-size: 30px;
	font-family: font-family: 'Black Han Sans', sans-seri.f;
	
}

.card_album_writer{
	float : right;
	margin-left: 800px;
	font-size: 25px;
}

.card_album_contents{
	/* text-align: center; */
	
}
.card_album_likes{
	float: left;
		
}
.card_album_reply{
	text-align: center;	
	
}
sapn{
	float : left;
	
}


