<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cooing.www.dy.dao.AlbumMapper">
	<insert id="createAlbum" parameterType="albumwrite">
		insert into ALBUMLIST (
			ALBUM_NUM,
			ALBUM_WRITER,
			ALBUM_OPENRANGE,
			ALBUM_IDENTIFIER
		)
		values (
			ALBUMLIST_SEQ.nextval,
			#{album_writer},
			#{album_openrange},
			#{album_identifier}
		)
		
	</insert>
	
	<insert id="insertAlbumOfPage" parameterType="page">
		insert into Page (
			PAGE_ID,
			ALBUM_NUM,
			PAGE_NUM,			
			PAGE_HTML
		)
		values (
			PAGE_SEQ.nextval,
			#{album_num},
			#{page_num},
			#{page_html}
		)
	</insert>
	
	<select id="first_selectAlbum_Num" parameterType="String" resultType="int">
		select album_num from albumlist where ALBUM_IDENTIFIER = #{album_identifier}
	</select>
	
	<select id="searchAlbum" parameterType="String" resultType="albumwrite">
		select * from albumlist 
			where album_writer like '%'||#{search}||'%'
			or album_name like '%'||#{search}||'%'
			or album_contents like '%'||#{search}||'%'
	</select>
	
	<select id="searchCategory" parameterType="int" resultType="albumwrite">
		select * from albumlist 
			where album_category=#{album_category}
	</select>
	
	<select id="searchAlbumNum" parameterType="int" resultType="albumwrite">
		select * from albumlist	where album_num=#{searchnum}
	</select>
	
	<select id="searchPage1" parameterType="int" resultType="page">
		select * from page	where album_num=#{number} and page_num=1
	</select>
	
	
	
</mapper>
