<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cooing.www.album.dao.AlbumLikesMapper">
<!-- 앨범 좋아요 -->
	<insert id="addLikes" parameterType="albumlikes">
		insert into likeit (
			likeit_num
			, likeit_albumnum
			, likeit_memberid
		) 
		values (
			likeit_seq.nextval
			, #{likeit_albumnum}
			, #{likeit_memberid}
		)
	</insert>
	<!-- 앨범 하나 가져옴 -->
	<select id = "getAlbum" resultType = "albumlikes" parameterType="int">
		select * from likeit where likeit_albumnum = #{likeit_albumnum}
	</select>
	<!-- 좋아요 취소 -->
	<delete id="deleteLikes" parameterType="albumlikes">
		delete from likeit where likeit_memberid = #{likeit_memberid} and likeit_albumnum = #{likeit_albumnum}
	</delete>
	<!-- 좋아요 목록-->
	<select id = "listLikes" resultType = "albumlikes" parameterType="int">
		select * from likeit where likeit_albumnum = #{likeit_albumnum} order by likeit_num desc
	</select>
	<select id="check_Likes" resultType = "String" parameterType="albumlikes">
		select LIKEIT_MEMBERID
			from
		likeit
			where
		likeit_memberid = #{likeit_memberid}
			and 
		likeit_albumnum = #{likeit_albumnum}
		 
	</select>
</mapper>
