<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cooing.www.dy.dao.AlbumListAndReadMapper">

	<select id="TotalAlbumList" parameterType="String" resultType="albumlist">
		select
			L.ALBUM_NUM,
			L.ALBUM_NAME,
			L.ALBUM_CONTENTS,
			P.PAGE_HTML
	    from
	    	ALBUMLIST L,
	    	Page P 
	    where
	    	L.ALBUM_NUM = P.ALBUM_NUM 
	    	and P.PAGE_NUM = 1
	    order by
	    	L.Album_num desc
	</select>
	
	
	<select id="MyAlbumList" parameterType="String" resultType="albumlist">
		select
			L.ALBUM_NUM,
			L.ALBUM_NAME,
			L.ALBUM_CONTENTS,
			P.PAGE_HTML
	    from
	    	ALBUMLIST L,
	    	Page P 
	    where
	    	L.ALBUM_NUM = P.ALBUM_NUM 
	    	and L.ALBUM_WRITER = #{ALBUM_WRITER} 
	    	and L.album_openrange = 1 and P.PAGE_NUM = 1
	    order by
	    	L.Album_num desc
	</select>

	
</mapper>
