<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- g_message 처리 SQL -->
<mapper namespace="com.cooing.www.hindoong.dao.G_messageMapper">

	<!-- g_message 정보 저장 -->
	<insert id="insertG_message" parameterType="g_message">
	INSERT INTO g_message (
		g_message_num,
		g_message_from,
		g_message_to,
		g_message_message,
		g_message_read,
		g_message_date
	)
	VALUES (
		g_message_seq.nextval,
		#{g_message_from},
		#{g_message_to},
		#{g_message_message},
		(SELECT LISTAGG( CONCAT( (CONCAT('.', g_member_memberid)), '.') , '') WITHIN GROUP FROM partymember
		WHERE g_member_memberid != #{g_message_from} group by g_member_partynum),
		sysdate
	)
	</insert>
	
	<update id="updateG_message">
	UPDATE g_message
	SET
		g_message_read = replace(g_message_read, CONCAT('.',#{id},'.'), '')
	WHERE
		g_message_read like CONCAT('%.',#{id},'.%')
	</update>
	
	<select id="selectG_message" resultType="g_message">
	SELECT
		*
	FROM g_message
	WHERE
		(g_message_from = #{id1} and g_message_to = #{id2})
		OR
		(g_message_from = #{id2} and g_message_to = #{id1})
	ORDER BY
		g_message_date
	</select>
	
	<select id="selectUnreadG_message" resultType="int">
	SELECT
		count(*)
	FROM g_message
	WHERE
		g_message_to = #{to}
		AND
		g_message_read NOT LIKE CONCAT('%.',#{id},'.%')
	</select>

</mapper>
