<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- g_message 처리 SQL -->
<mapper namespace="com.cooing.www.hindoong.dao.G_messageMapper">

	<!-- message 정보 저장 -->
	<insert id="insertMessage" parameterType="message">
	INSERT INTO g_message (
		g_message_num,
		g_message_from,
		g_message_to,
		g_message_message,
		g_message_read,
		g_message_date
	)
	VALUES (
		g_message_seq.nextval,
		#{message_from},
		#{message_to},
		#{message_message},
		(
		SELECT 
			LISTAGG( CONCAT( (CONCAT('.', g_member_memberid)), '.'), '')
			WITHIN GROUP (ORDER BY g_member_memberid)
		FROM partymember
		WHERE
			g_member_memberid != #{message_from}
			AND g_member_partynum = #{message_to}
		GROUP BY g_member_partynum
		),
		sysdate
	)
	</insert>
	
	<!-- 읽음 처리(g_message_read에서 읽은 유저의 id를 제거한다) -->
	<update id="updateMessage">
	UPDATE g_message
	SET
		g_message_read = REPLACE(g_message_read, CONCAT(CONCAT('.', #{id}), '.'), '')
	WHERE
		g_message_to = #{counterpart}
		AND g_message_read like CONCAT(CONCAT('%.',#{id}),'.%')
	</update>
	
	<!-- 그룹 메시지 조회 -->
	<select id="selectMessage" resultType="message">
	SELECT
		g_message_num AS message_num,
		g_message_from AS message_from,
		g_message_to AS message_to,
		g_message_message AS message_message,
		nvl(((length(g_message_read) - length(replace(g_message_read, '.', ''))) / 2), 0) AS message_read,
		g_message_date AS message_date
	FROM g_message
	WHERE
		g_message_to = #{group}
	</select>
	
	<!-- 그룹 메시지 중 아직 읽지 않은 메시지의 개수를 조회 -->
	<select id="selectCountUnreadMessage" resultType="int">
	SELECT
		count(*)
	FROM g_message
	WHERE
		g_message_to = #{to}
		AND
		g_message_read NOT LIKE CONCAT('%.',#{id},'.%')
	</select>

</mapper>
