<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- img 처리 SQL -->
<mapper namespace="com.cooing.www.hindoong.dao.ImgMapper">

	<!-- img 저장 -->
	<insert id="insertImg" parameterType="img">
	INSERT INTO img (
		img_id,
		original_name,
		saved_name
	)
	VALUES (
		img_SEQ.nextval,
		#{original_name},
		#{saved_name}
	)
	</insert>
	
	<!-- img 조회 -->
	<select id="selectImg" resultType="img">
	SELECT
		*
	FROM img
	WHERE
		img_id = #{img_id}
	</select>

</mapper>
