<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cooing.www.member.dao.MemberMapper">

	<insert id="insertMember" parameterType="member">
	insert into member (
		member_id,member_pw,member_picture,member_recentlogin)
	values (#{member_id},#{member_pw},#{member_picture},sysdate)
	</insert>
	
	<select id="selectMember" resultType="member" parameterType="String">
	select * from member where member_id = #{id}
	</select>
	
	<select id="selectfriend" resultType="member" parameterType="String">
	select *
	from member 
	where 
	member_id in(
		 select friend_id2 as member_id
		 from friend
		 where friend_id1 = #{myid}
		 union 
		 select friend_id1 as member_id
		 from friend
		 where friend_id2 = #{myid} 
	) 
	and member_id != #{myid}
	</select>
	
	<select id="searchallId" parameterType="String" resultType="String">
		select member_id 
		from member
		where member_id like '%'||#{search}||'%'
	</select>
	
	<select id="searchId" resultType="member" parameterType="map">
	select *
	from member 
	where member_id like '%'||#{friendid}||'%'
	and member_id in(
		 select friend_id2 as member_id
		 from friend
		 where friend_id1 = #{myid}
		 		and friend_id2 like '%'||#{friendid}||'%'
		 union 
		 select friend_id1 as member_id
		 from friend
		 where friend_id2 = #{myid} 
		  		and friend_id1 like '%'||#{friendid}||'%' 
	)
	and member_id != #{myid}
	</select>
	
	<select id="searchUser" resultType="member" parameterType="map">
	select *
	from member 
	where member_id like '%'||#{friendid}||'%'
	and member_id not in(
		select friend_id2 as member_id
		 from friend
		 where friend_id1 = #{myid}
		 		and friend_id2 like '%'||#{friendid}||'%'
		 union 
		 select friend_id1 as member_id
		 from friend
		 where friend_id2 = #{myid} 
		  		and friend_id1 like '%'||#{friendid}||'%' 
	) 
	and member_id != #{myid}
	</select>
	
	<update id="updateTimeMember" parameterType="String">
	update member set member_recentlogin=sysdate where member_id=#{id}
	</update>
	
	<insert id="insertCategory" parameterType="category">
	insert into category (
		category_num,category_memberid,category_kind)
	values (category_seq.nextval , #{category_memberid} , #{category_kind})
	</insert>
	
</mapper>
