<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- p_message 처리 SQL -->
<mapper namespace="com.cooing.www.hindoong.dao.P_messageMapper">

	<!-- p_message 정보 저장 -->
	<insert id="insertP_message" parameterType="p_message">
	INSERT INTO p_message (
		p_message_num,
		p_message_from,
		p_message_to,
		p_message_message,
		p_message_date
	)
	VALUES (
		p_message_seq.nextval,
		#{p_message_from},
		#{p_message_to},
		#{p_message_message},
		sysdate
	)
	</insert>
	
	<update id="updateP_message">
	UPDATE p_message
	SET
		p_message_read = 0
	WHERE
		p_message_read = 1 and p_message_from = #{from} and p_message_to = #{to}
	</update>
	
	<select id="selectP_message" resultType="p_message">
	SELECT
		*
	FROM p_message
	WHERE
		(p_message_from = #{id1} and p_message_to = #{id2})
		OR
		(p_message_from = #{id2} and p_message_to = #{id1})
	ORDER BY
		p_message_date
	</select>

</mapper>
