<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cooing.www.jinsu.dao.RelationMapper">

	<insert id="insertFriend" parameterType="map">
	insert into friend (friend_num,friend_id1,friend_id2)
		values (friend_seq.nextval,#{person},#{friend})
	</insert>	
	
	<select id="selectFriend" resultType="String" parameterType="String">
	select friend_id2 from friend where friend_id1 = #{id}
	</select>
	
	<delete id="deleteFriend" parameterType="map">
	delete from friend where friend_id1 = #{person} and friend_id2 = #{friend}
	</delete>
	
	<insert id="insertParty" parameterType="party">
	insert into party (party_num,party_name,party_leader)
		values (party_seq.nextval,#{party_name},#{party_leader})
	</insert>
	<insert id="insertPartyMember" parameterType="partymember">
	insert into partymember (g_member_num,g_member_partynum,g_member_memberid)
		values (partymember_seq.nextval,#{g_member_partynum},#{g_member_memberid})
	</insert>
</mapper>
