<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.cooing.www.chat.vo.MessageVO" alias="message"/>
		<typeAlias type="com.cooing.www.member.vo.Member" alias="member"/>
		<typeAlias type="com.cooing.www.album.vo.Category" alias="category"/>
		<typeAlias type="com.cooing.www.member.vo.Party" alias="party"/>
		<typeAlias type="com.cooing.www.member.vo.PartyMember" alias="partymember"/>
		<typeAlias type="com.cooing.www.album.vo.AlbumVO" alias="album"/>
		<typeAlias type="com.cooing.www.album.vo.PageVO" alias="page"/>
		<typeAlias type="com.cooing.www.album.vo.HashTag" alias="tag"/>
		<typeAlias type="com.cooing.www.common.vo.Search" alias="search"/>
		<typeAlias type="com.cooing.www.album.vo.CategoryPop" alias="categorypop"/>
		<typeAlias type="com.cooing.www.album.vo.LikesVO" alias="likes"/>
		<typeAlias type="com.cooing.www.album.vo.ReplyVO" alias="reply"/>
		<typeAlias type="com.cooing.www.album.vo.BookMark" alias="bookmark"/>
	</typeAliases>
 	<mappers>
		<mapper resource="mappers/messageMapper.xml"/>
		<mapper resource="mappers/memberMapper.xml"/>
		<mapper resource="mappers/relationMapper.xml"/>
		<mapper resource="mappers/albumMapper.xml"/>
		<mapper resource="mappers/searchMapper.xml"/>
		<mapper resource="mappers/likesMapper.xml"/>
		<mapper resource="mappers/replyMapper.xml"/>
		<mapper resource="mappers/bookmarkMapper.xml"/>
	</mappers>
</configuration>
