@CHARSET "UTF-8";

body {
	width:100%;
	background-color:rgba(255,255,255,0.8);	
}
#flipbook {
	border: 1px solid #ccc; /* 모든 영역에 테두리 표시 */
}
#friend_container {
	width:100%; /* 컨테이너 너비 */
	padding:20px; /* 패딩 */			
	height: 100%;
	border: none;
}		
#contents {
	padding: 20px;  /* 패딩 */
	float: left;  /* 왼쪽으로 플로팅 */				
	position: absolute;
	bottom: 50px;
	top : 50px;
	left: 10px;
	right:270px;
}
#sidebar {
	width: 220px;  /* 너비 */
	padding: 20px;  /* 패딩 */
	float: right;  /* 오른쪽으로 플로팅 */			
	background:#eee;
	margin-left : 665px;
	position :absolute;
	bottom: 50px;
	right:10px;
	top : 50px
}
     
.search{	
	width: 120px;
	display:block;
	position: absolute;	
}
.bt{
	position: absolute;
	right: 40px;
}
.tb1{
	padding-top: 20px;
}

.pages{
	border: 1px solid black;	
}	